# Xcode
DerivedData/
*.xcworkspace/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Temporary
*.swp
.DS_Store
